<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron md-whiteframe-6dp" layout="row" layout-align="center center">
            <h1 class="">{{home.content.welcome}}</h1>
        </div>
    </div>
</div>
<md-card layout="column" class="md-whiteframe-2dp">

    <md-toolbar class="md-hue-5">
        <md-card-title flex layout-align="center center">
            <h3>{{home.content.aboutTitle}}</h3>
        </md-card-title>
    </md-toolbar>

    <md-card-content flex>
        <p>{{home.content.aboutContent}}</p>
    </md-card-content>
</md-card>